*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.home-explore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    font-family: sans-serif;
}

.home-explore::before{
    content: " ";
    background-image: url(../Image/Back-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 70%;
}

.home-sub-explore{
    text-align: center;
}

.home-sub-explore h1{
    position: relative;
    font-size: 160px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}

.home-sub-explore a{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 30px;
    margin-top: 80px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    transition: all .5s ease;
}

.home-sub-explore a:hover{
    border-color: white;
    background-color: white;
    color: black;
}

/* the pull over page */
#home-body{
    width: 100%;
}  

/* navigation bar css */

div .header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px 0px;
    z-index: 1000;
}

header{
    display: flex;
    justify-content: space-between; 
    padding-left: 80px;
    padding-right: 100px;
    background-color: black;
    color: white;
}

.navbar li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

.logo{
    display: flex;
}

nav li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.navbar li a:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar li{
    padding-top:12px;
    padding-bottom: 12px;
}

.active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.home-body-1{
    height: 90vh;
    display: flex;
    margin: 60px 40px 0px 40px;
    padding: 30px 40px;
    word-spacing: 3px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    gap: 100px;
}

.home-body-sub-1-1{
    width: 50%;
}

.home-body-sub-1-1 h1{
    font-size: 60px;
}

.home-body-sub-1-2{
    width: 50%;
    background-image: url(../Image/sec-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 550px;
    box-shadow: 5px 5px 30px 5px;
    border: 1px solid rgb(255, 255, 255) ;
}

.home-body-2{
    height: 120vh;
    word-spacing: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0px 40px;
    background-color: gray;
}

.home-body-sub-2-1{
    height: 70vh;
    background-color: white;
}

.home-body-sub-2-1 h1{
    font-size: 40px;
}

.home-body-sub-2-1 p{
    line-height: 30px;
    font-size: 19px;
}

.home-body-2-image-row{
    margin: 5vh 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.home-body-2-image-row div{
    width: 100%;
    height: 35vh;
    box-shadow: 5px 2px 10px 0px;
}

.home-body-2-image-row > div{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-size: cover;
    transition: .5s;
}

.home-body-2-image-row > div:hover {
    flex: 5;
}

.image-1{
    background-image: url(../Image/13061b20e90d394580b6fd7d9a2fdcf5.jpg);
}

.image-2{
    background-image: url(../Image/hatchery-season.jpg);
}

.image-3{
    background-image: url(../Image/90f6a701771cefd18ab9a8000afadb35.jpg);
}

.image-4{
    background-image: url(../Image/image-10.jpg);
}
.image-5{
    background-image: url(../Image/image-11.jpg);
}

.home-body-sub-2-2{
    display: flex;
    height: 50vh;
    background-color: white;
    line-height: 40px;
    font-size: 19px;
    justify-content: center;
}

.home-body-sub-2-2 p{
    margin-top: 50px;
    width: 80%;
    background-color: rgba(0, 0, 0, 85%);
    padding: 20px 30px;
    height: fit-content;
    border-radius: 20px;
    color: white;
}

.home-body-3{
    display: flex;
    width: 100%;
    height: 100vh;
    word-spacing: 3px;
    padding: 0px 40px;
}

.home-body-sub-3-1{
    width: 100%;
    align-items: center;
    text-align: center;
}

.home-body-sub-3-1 h1{
    font-size: 35px;
}

.home-body-sub-3-1 p{
    font-size: 19px;
    line-height: 25px;
}

.home-body-sub-3-2{
    height: 50vh;
    display: flex;
    gap: 40px;
    margin:20px 0px 80px 0px;
}

.home-body-sub-3-2 ol{
    width: 100%;
    height: fit-content;
    list-style-position: inside;
    font-size: 20px;
    line-height: 40px;
}

.home-body-sub-3-2 ol li{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
}

.home-body-sub-3-2 a{
    text-decoration: none;
    color: black;
}

.home-body-sub-3-ol-1{
    display: flex;
    height: 35vh;
    margin: 10px 50px 30px 50px;
    gap: 30px;
}

.home-body-sub-3-ol-2{
    display: flex;
    justify-content: center;
    height: 35vh;
    margin: 20px 150px 20px 150px;
    gap: 50px;
}

.Olive{
    background-image:url(../Image/ridley.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.Green{
    background-image: url(../Image/green.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.Hawksbill{
    background-image: url(../Image/Hawksbill.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.Leatherback{
    background-image: url(../Image/img1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.Loggerhead{
    background-image: url(../Image/Photo8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.Olive:hover,.Green:hover,.Hawksbill:hover,.Leatherback:hover,.Loggerhead:hover{
    scale: 1.05;
}

.footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
}

.foot-container{
    display: flex;
    width: 100%;
    height: 40vh;
    gap: 40px;
}

.foot-container div{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.foot-1,.foot-2{
    margin: 0px 20px 0px 20px;
}

.foot-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot-2{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}


@media screen and (max-width:650px) and (min-width:200px){
    
.home-sub-explore h1{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}

.home-sub-explore a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 15px;
    margin-top: 50px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
}

    
div .header{
    position: relative;
    top: 0;
    box-shadow: 0px 5px 10px 0px;
    z-index: 1000;
}

header{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}

nav li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    border-radius: 10px;
}


.home-body-1{
    height: 90vh;
    display: flex;
    margin: 100px 0px;
    padding: 10px;
    word-spacing: 3px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    gap: 10px;
}

.home-body-sub-1-1{
    width: 50%;
}

.home-body-sub-1-1 h1{
    font-size: 30px;
}

.home-body-sub-1-2{
    margin-top: 100px;
    width: 50%;
    background-image: url(../Image/sec-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 300px;
    box-shadow: 5px 5px 30px 5px;
    border: 1px solid rgb(255, 255, 255) ;
}

.home-body-2{
    height: 120vh;
    word-spacing: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0px 40px;
    background-color: gray;
}

.home-body-sub-2-1{
    height: 70vh;
    background-color: white;
}

.home-body-sub-2-1 h1{
    font-size: 20px;
}

.home-body-sub-2-1 p{
    line-height: 10px;
    font-size: 10px;
}

.home-body-2-image-row{
    margin: 5vh 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.home-body-2-image-row div{
    width: 100%;
    height: 35vh;
    box-shadow: 5px 2px 10px 0px;
}

.home-body-2-image-row > div{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-size: cover;
    transition: .5s;
}

.home-body-2-image-row > div:hover {
    flex: 5;
}


.home-body-sub-2-2{
    display: flex;
    height: 50vh;
    background-color: white;
    line-height: 20px;
    font-size: 10px;
    justify-content: center;
}

.home-body-sub-2-2 p{
    margin-top: -10px;
    width: 90%;
    background-color: rgba(0, 0, 0, 85%);
    padding: 20px 30px;
    height: fit-content;
    border-radius: 20px;
    color: white;
}


.home-body-3{
    display: flex;
    width: 100%;
    height: 100vh;
    word-spacing: 3px;
    padding: 0px 40px;
}

.home-body-sub-3-1{
    width: 100%;
    align-items: center;
    text-align: center;
}

.home-body-sub-3-1 h1{
    font-size: 20px;
}

.home-body-sub-3-1 p{
    font-size: 9px;
    line-height: 10px;
}


.home-body-sub-3-2{
    height: 50vh;
    display: flex;
    gap: 40px;
    margin:20px 0px 80px 0px;
}

.home-body-sub-3-2 ol{
    width: 100%;
    height: fit-content;
    list-style-position: inside;
    font-size: 10px;
    line-height: 40px;
    gap: 0;
}

.home-body-sub-3-2 ol li{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
}

.home-body-sub-3-2 a{
    text-decoration: none;
    color: white;
}

.home-body-sub-3-ol-1{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
    gap: 30px;
}

.home-body-sub-3-ol-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin: 35px 0px;
    gap: 30px;
}


.footer{
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.foot-container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0px;
}

.foot-container div{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.foot-1,.foot-2{
    margin: 0px 20px 0px 20px;
}

.foot-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot-1 h1, .foot-2 h1{
    font-size: 15px;
}

.foot-1 p, .foot-2 p{
    font-size: 10px;
}

.foot-2{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 5px;
}
     
}